includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    level: max

    ignoreErrors:
        - '#Property MichaelRubel\\SqlFunctionRepository\\Repositories\\PostgresqlFunctionRepository(.*) \(string\|null\) does not accept mixed\.#'
        - '#Cannot call method replaceLast\(\) on mixed\.#'

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

    checkOctaneCompatibility: true
